html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;
}
    

body {
    background-color: antiquewhite;
    font-family: "tumba-text-variable", sans-serif;
    font-variation-settings: "wght" 400;
    margin: 0;
}


/* MENU BAR */

.menu-bar{
    text-align:center;
    background-color:darkslateblue;
    padding: 15px 15px 15px 15px;
    margin: 0;
}


/* BUTTON STUFF */

.button:hover{
    background-color: mediumslateblue;
}


.button{
    
    text-decoration: none;
    border: none;
    background-color: darkslateblue ;
    padding: 5px 5px 5px 5px ;
    font-size:large;
    color: antiquewhite;
    font-family: "tumba-text-variable", sans-serif;
    font-variation-settings: "wght" 400;
    margin: 0;
}

/* LINK STUFF */
a {
    text-decoration: none;
    color: deeppink;
}


                                                                                /* INTRODUCTION*/

p:hover{
    color: mediumslateblue;
    cursor:pointer;
}

.unicorn{
    text-align:center;
    font-size: 5px;
    color:deeppink;
    margin-bottom: 100px;
    margin-top: 30px;
    border-radius: 100%;
    transform: scale(1);
    animation: pulse 2s infinite;
}

.marquee{
  width: 100px;
  height: 100px;
  margin:0;
  position: relative;
  animation-name: nyoom;
  animation-duration: 4s;
  animation-iteration-count:infinite;
}

@keyframes nyoom {
  0%   { opacity: 0;   left:0px; top:0px;}    
  25%  { opacity: 25;  left:200px; top:0px;}
  50%  { opacity: 0;   left:200px; top:200px;}
  75%  { opacity: 25;  left:0px; top:200px;}
  100% { opacity: 0;   left:0px; top:0px;}
}

.big-tumba{
    color: deeppink;
    opacity: 25%;
    Font-size: 300px;
    font-variation-settings: "wght" 800;
    line-height:30px;
    z-index: -100;
    height: 200px;
    margin: 230px;

}


.introduction-paragraph{
    color:darkslateblue;
    font-size:large;
    text-align:center;
    padding: 150px 50px 50px 50px ;
    max-width: 800px;
    text-align:left;
    position: absolute;
    z-index: 3;
    width: 70%;
    left: 40px;
    top: 60px;
}


                                                                                /* CHARACTERS*/


.alphabet{
    Font-size:40px;
    text-align:Right;
    position: absolute;
    z-index: 3;
    width: 35%;
    left: 600px;
    top: 75px;
    color:darkslateblue;
}

@keyframes spin{
    
    from{transform: rotate(0deg)}
    to{transform:rotate(360deg)}

}


p:hover{
    color: mediumslateblue;
    cursor:pointer;
}

.numbers{
    Font-size:25px;
    font-variation-settings: "wght" 800;
    max-width: 400px;
    text-align:left;
    position: absolute;
    z-index: 3;
    width: 70%;
    left: 10px;
    top: 80px;
    color:deeppink;
}

.pulse{
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);     
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}



                                                                                /* DISPLAY*/




.pulse2{
    text-align:center;
    border-radius: 50%;
    transform: scale(1);
    animation: pulse 2s infinite;
}

.pulse3{
    text-align:center;
    border-radius: 40%;
    transform: scale(2);
    animation: pulse 3s infinite;
}


.pulse4{
    text-align:center;
    border-radius: 30%;
    transform: scale(3);
    animation: pulse 2s infinite;
}


.pulse5{
    text-align:center;
    border-radius: 20%;
    transform: scale(4);
    animation: pulse 3s infinite;
}



.historical{
    font-size:200px;
    text-align:center;
    font-variation-settings: "wght" 800;
    color:deeppink;
    line-height:0%;

}

.storybook{
    font-size:150px;
    text-align:center;
    font-variation-settings: "wght" 600;
    color:darkslateblue;
    line-height:2%;
}

.medieval{
    font-size:100px;
    text-align:center;
    font-variation-settings: "wght" 300;
    color:deeppink;
    line-height:2%;
}

.fraktur{
    font-size:50px;
    text-align:center;
    font-variation-settings: "wght" 200;
    color:darkslateblue; 
    line-height:2%;
}

.calligraphy{
    font-size:25px;
    text-align:center;
    font-variation-settings: "wght" 100;
    color:deeppink;
}



                                                                                /* PARAGRAPHS*/



.paragraph1{
    color:deeppink;
    font-size:30px;
    max-width:1200px;
    text-align: left;
    font-variation-settings: "wght" 100;
    padding: 50px 150px 50px 200px ;
}

.paragraph2 {
    color:darkslateblue;
    line-height: auto;
    font-size: 10px;
    max-width:1200px;
    text-align: left;
    font-variation-settings: "wght" 300;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-iteration-count:infinite;
}

@keyframes myAnimation {
  0%   { opacity: 0;   left:0px; top:0px;}    
  25%  { opacity: 25;  left:300px; top:0px;}
  50%  { opacity: 0;   left:0px; top:0px;}
  75%  { opacity: 25;  left:300px; top:0px;}
  100% { opacity: 0;   left:0px; top:0px;}
}





.paragraph3{
    color: deeppink;
    font-size: 20px;
    max-width:1600px;
    text-align: right;
    font-variation-settings: "wght" 800;
    padding: 0 50px 50px 800px ;
}

